## File Writing

In [ ]:
%%writefile myfile.txt
This is a test file
originally composed 
with python inside
jupyter notebook

In [6]:
file1 = open("myfile.txt")

In [26]:
file1.seek(0)
conts = file1.read()
file1.seek(0)

NameError: name 'file1' is not defined

In [15]:
conts

'This is a test file\noriginally composed \nwith python inside\njupyter notebook\n'

In [16]:
with open("myfile.txt") as newfile:
    contents = file1.read()

In [18]:
contents

'This is a test file\noriginally composed \nwith python inside\njupyter notebook\n'

In [19]:
%%writefile my_new_file.txt
ONE ON 1ST
TWO ON 2ND
THREE ON 3RD

Writing my_new_file.txt

In [21]:
with open("my_new_file.txt", mode='r') as f:
    print(f.read())

ONE ON 1ST
TWO ON 2ND
THREE ON 3RD

In [22]:
with open("my_new_file.txt", mode='a') as f:
    f.write("FOUR ON 4TH")

In [23]:
with open("my_new_file.txt", mode='r') as f:
    print(f.read())

ONE ON 1ST
TWO ON 2ND
THREE ON 3RD
FOUR ON 4TH

In [1]:
[x for x in range(1,51) if x%3 == 0] # finds all numbers from 1 to 51 divisible by 3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [125]:
[x for x in range(1,51) if x%2 == 1] # finds all the odd numbers from 1 to 51

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

## FizzBuzz program

In [3]:
for num in range(1, 101):
    if num%3==0 and num%5==0:
        print("FizzBuzz")
    elif num%3==0:
        print("Fizz")
    elif num%5==0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [4]:
mylist = [1,2,3,4,5]

In [6]:
mylist.insert

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [7]:
a = 10
b = 20

In [8]:
a,b=b,a

In [9]:
print("b is now ",b)
print("a is now", a)

b is now  10
a is now 20

In [10]:
def sum_numbers(num1: int, num2: int) -> int:
    return num1+num2

In [12]:
sum_numbers(15, 5)

20

In [40]:
work_hours = [("Femi", 650),("Mervin", 480),("Jide", 531),("Sharath", 776)]

In [41]:
def employee_check(work_hours):
    max_hours = 0
    best_employee = ""
    for employee, hours in work_hours:
        if hours > max_hours:
            max_hours = hours
            best_employee = employee
        
    return best_employee

In [42]:
employee_check(work_hours)

'Sharath'

In [19]:
work_hours

[('Femi', 150), ('Mervin', 180), ('Jide', 231), ('Sharath', 176)]

## A Simple Guessing Game

In [126]:
from random import shuffle

def shuffle_list(game_list):
    shuffle(game_list)
    return game_list

def player_guess():
    guess = ""
    while guess not in ['0','1','2']:
        guess = input("make a guess(0,1,or 2 only): ")
    return int(guess)

def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print("Correct Guess")
    else:
        print("wrong Guess; Try Again!!")
        print(mylist)

# Initial List
mylist = ['','O','']

# Shuffle It
mixedup_list = shuffle_list(mylist)

# Get User's Guess
guess = player_guess()

# Check User's Guess
#------------------------
# This function takes in the input 
# based on the output of other functions!
check_guess(mixedup_list, guess)

make a guess(0,1,or 2 only): 1
wrong Guess; Try Again!!
['', '', 'O']

In [127]:
word = "abiodun"

In [130]:
list(enumerate(word))

[(0, 'a'), (1, 'b'), (2, 'i'), (3, 'o'), (4, 'd'), (5, 'u'), (6, 'n')]

In [131]:
for x, y in enumerate(word):
    print(x,""):

0
1
2
3
4
5
6

## Just for fun:
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [40]:
def letter_a():
    print("    *   ")
    print("   * *  ")
    print("   ***  ")
    print("   * *  ")

def letter_b():
    print(" **")
    print(" * *")
    print(" * *")
    print(" **")
    print(" * *")
    print(" * *")
    print(" **")
    
def letter_c():
    print(" ***")
    print(" *")
    print(" *")
    print(" ***")

def letter_d():
    print(" ***")
    print(" *  *")
    print(" *  *")
    print(" ***")
    
def letter_e():
    print("****")
    print("*")
    print("****")
    print("*")
    print("****")
    
letter = input("Choose letter from a to e: ")
    
def print_big(letter):
    letters = {'a': letter_a, 'b': letter_b, 'c': letter_c, 'd': letter_d, 'e': letter_e}
    
    if letter in letters.keys():
        return letters[letter]()
        
print_big(letter)

Choose letter from a to e: d
 ***
 *  *
 *  *
 ***

## Lesser of 2 evens:  Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd¶

In [42]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    return max(a,b)

In [44]:
lesser_of_two_evens(2,5)

5

In [45]:
lesser_of_two_evens(2,4)

2

## ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [62]:
def animal_crackers(text):
    txt_new = text.split(' ')
    return txt_new[0][0] == txt_new[1][0]

In [63]:
animal_crackers('Levelheaded Llama')

True

In [64]:
animal_crackers('Crazy Kangaroo')

False

## MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [70]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or ((n1 == 20) or (n2 == 20))

In [71]:
makes_twenty(20,10)

True

In [72]:
makes_twenty(2,3)

False

## OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [75]:
def old_macdonald(name):
    name1 = name[:3]
    name2 = name[3:]
    return name1.capitalize() + name2.capitalize()

In [76]:
old_macdonald('macdonald')

'MacDonald'

## MASTER YODA: Given a sentence, return a sentence with the words reversed

In [102]:
def master_yoda(text):
    text = text.split()
    text.reverse()
    return " ".join(text)

In [103]:
master_yoda('I am home')

'home am I'

In [104]:
master_yoda('We are ready')

'ready are We'

## FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [223]:
def has_33(nlist):
    for x in range(0, len(nlist)-1):
        if nlist[x] == 3 and nlist[x + 1] == 3:
            return True
    return False

In [224]:
has_33([1, 3, 3])

True

In [225]:
has_33([1, 3, 1, 3])

False

In [226]:
has_33([3, 1, 3])

False

## PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [244]:
def paper_doll(word):
    new_word = []
    for x in word:
        new_word.append(x*3)
    return "".join(new_word)

In [246]:
paper_doll("Hello")

'HHHeeellllllooo'

In [247]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [250]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c > 21 and ((a == 11) or (b == 11) or (c == 11)):
            return (a+b+c)-10
    else:
        return 'BUST'

In [251]:
blackjack(5,6,7)

18

In [252]:
blackjack(9,9,9)

'BUST'

In [253]:
blackjack(9,9,11)

19

## SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [53]:
def summer_69(arr):
    total = 0
    for num in arr:
        if num in range(6,10):
            continue
        else:
            total += num
    return total

In [55]:
summer_69([1, 3, 5])

9

In [56]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [57]:
 summer_69([2, 1, 6, 9, 11])

14

## SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [76]:
def spy_game(arr):
    newarr = []
    for ni in arr:
        if ni == 0 or ni == 7:
            newarr.append(ni)
    return newarr == [0,0,7]

In [77]:
spy_game([1,2,4,0,0,7,5])

True

In [78]:
spy_game([1,0,2,4,0,5,7])

True

In [79]:
spy_game([1,7,2,0,4,5,0])

False

## COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

In [86]:
def count_primes(num):
    counter = 0
    for n in range(2, num+1):
        prime = True
        for i in range(2,n):
            if (n%i == 0):
                prime = False
                break
        if prime:
            counter += 1
    return counter

In [87]:
count_primes(100)

25

## Write a function that computes the volume of a sphere given its radius

In [1]:
def vol(rad):
    return (4/3) * (3.14159265)*(rad**3)

In [2]:
vol(2)

33.5103216

## Write a function that checks whether a number is in a given range (inclusive of high and low)

In [3]:
def ran_check(num,low,high):
    #return num in range(low, high)
    if num in range(low, high):
        return f"{num} is within the number range {low} to {high}"
    else:
        return "NOT in range"

In [4]:
ran_check(5,2,7)

'5 is within the number range 2 to 7'

In [5]:
ran_check(15,2,7)

'NOT in range'

## Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

In [6]:
def up_low(s):
    up_list = []
    for letter in s:
        if letter.isupper():
            up_list.append(letter)
    new_s = "".join(letter for letter in s if letter.isalpha())
    print(s)
    print(f"No. of Upper case characters: {len(up_list)}")
    print(f"No. of Lower case characters: {len(new_s)-len(up_list)}")

In [7]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters: 4
No. of Lower case characters: 33

## Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [8]:
def unique_list(lst):
    return list(set(lst))

In [9]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

## Write a Python function to multiply all the numbers in a list.

In [10]:
def multiply(numbers):  
    total = 1
    for num in numbers:
        total *= num
    return total

In [11]:
multiply([1,2,3,-4])

-24

## Write a Python function that checks whether a word or phrase is palindrome or not.

In [12]:
def palindrome(s):
    return s == s[::-1]

In [13]:
palindrome('helleh')

True

## Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)
Note : Pangrams are words or sentences containing every letter of the alphabet at least once. For example : "The quick brown fox jumps over the lazy dog"

In [14]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    new_list = []
    new_str1 = "".join(letter for letter in str1 if  letter.isalpha())
    for letter in new_str1.lower():
        if letter in string.ascii_lowercase:
            new_list.append(letter)
    return len(new_list) == len(new_str1)

In [15]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [9]:
def print_board(r1,r2,r3):
    print(r1)
    print(r2)
    print(r3)
    
row1 = [' ',' ',' ']
row2 = [' ',' ',' ']
row3 = [' ',' ',' ']

print_board(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [12]:
row3[1] = 'X'

In [13]:
print_board(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
['X', 'X', ' ']

In [34]:
def get_input():
    
    choice = 'wrong'
    
    while choice.isdigit() == False:
        
        choice = input("Enter a choice btw 1-10: ")
        
        if choice.isdigit() == False:
            print("Enter digit please")
        
    return int(choice)

In [35]:
get_input()

Enter a choice btw 1-10: we
Enter digit please
Enter a choice btw 1-10: w
Enter digit please
Enter a choice btw 1-10: 23

23

In [39]:
from IPython.display import clear_output

def user_input():
    
    choice = "wrong"
    
    while choice not in ["0","1","2"]:
        
        choice = input("Enter a choice(0,1,2): ")
        
        if choice not in ["0","1","2"]:
            clear_output()
            print("Please enter a value within range (0,1,2)")
            
    return int(choice)

In [40]:
user_input()

Please enter a value within range (0,1,2)
Enter a choice(0,1,2): 1

1

In [38]:
"0" in ["0","1","2"]

True

In [43]:
##tic-tac-toe ; pre-game functions
##1. Welcome message
##2. Display board
##3. Get user position choice
##4. Get user string preference
##5. Ask player if he wants to continue playing

##1
def display_game(game_list):
    print(game_list)

In [42]:
game_list = [0,1,2]